.app {
	/* background-color: #f3f2ef; */
	background-color: white;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.app__body {
	display: flex;
	/* background-color: black; */
	/* background-color: #f3f2ef; */
	justify-content: center;
	margin-top: 35px;
	width: 100%;
}

@media (max-width: 865px) {
	.app {
		/* height: 100vh; */
	}

	.app__body {
		display: inline-block;
		flex-direction: column;
	}
}
